[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-restful = "*"
flask-restx = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
